<div class="item">
  <a class="ui logo icon image" >
    <img src="assets/logo.png">
  </a>
  <a ><b></b></a>
</div>
<a class="item" routerLink="/itinerary" >
    <b>Itinerario</b>
    <div class="ui label">21</div>
</a>
<a class="item" routerLink="/orders">
  <b>Pedidos</b>
  <div class="ui label">154</div>
</a>
<div class="item">
  <div class="header">Dashboard</div>
  <div class="menu">

    <a class="item" href="/introduction/integrations.html">
        Ventas
    </a>

    <a class="item" href="/introduction/build-tools.html">
      Pedidos
    </a>

    <a class="item" href="/introduction/advanced-usage.html">
      Productos
    </a>
  </div>
</div>

