<div class="ui modal">
  <i class="close icon"></i>
  <h1 class="header">
    Nuevo Pedido - {{ client.name }}
  </h1>
  <div class="content">
    <div class="ui category search">
      <div class="ui icon input">
        <input class="prompt" type="text" placeholder="Search animals...">
        <i class="search icon"></i>
      </div>
      <div class="results"></div>
    </div>
  </div>
  <div class="actions">
    <div class="ui button">Cancel</div>
    <div class="ui button">OK</div>
  </div>
</div>
