<div class="ui horizontal segments container" id="main-segment">
  <div class="ui segment">



    <h1 class="ui header">Lista de Pedidos</h1>

    <div class="ui search">
      <div class="ui icon input">
        <input class="prompt" type="text" placeholder="Bucar">
        <i class="search icon"></i>
      </div>
      <div class="results"></div>
    </div>


    <app-order-list></app-order-list>

  </div>


  <div class="ui  segment" id="client-detail">
    <h1 class="ui header">__________________________</h1>
    <app-client-detail
      *ngIf="selectedClient"
      [client]="selectedClient"></app-client-detail>
  </div>


</div>
