.container-fluid{
  background-color: #f5f5f5;
}
.ui.text.menu{
  margin-top: 0;
}

.ui.secondary.menu .dropdown.item>.menu, .ui.text.menu .dropdown.item>.menu{
  margin-top: 0;
}

.ui.secondary.menu .item .menu{
  border-radius: 0;
}
